/* spacing */
/* 20px */
/* colors */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

.wrapper {
  position: relative;
  padding: 1.25em;
  background-color: #f6f6fe;
  z-index: 99;
  overflow: hidden;
}

.wrapper::after {
  content: url("../images/bg-top.svg");
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -5%);
          transform: translate(50%, -5%);
  z-index: -1;
}

.content--top {
  padding: 3.75em 3.125em;
}

.content--top .title--large {
  text-align: center;
  color: #494c5f;
  padding-bottom: 1.25em;
}

.content--top .content__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25em;
}

.content--top .content__detail .detail--grey {
  color: #6d708d;
}

.content--top .content__detail .btn__toggle {
  display: block;
  border: none;
  outline: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  position: relative;
  padding: 1.25em 2.05em;
  border-radius: 1.2em;
}

.content--top .content__detail .btn__toggle::before {
  content: "";
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  width: 1.6em;
  height: 1.8em;
  background-color: #f6f6fe;
  border-radius: 50%;
}

.content--top .content__detail .btn__toggle:hover {
  cursor: pointer;
}

.main__container.active-mode .main__price.price--hidden-white {
  display: block;
  color: #f6f6fe;
}

.main__container.active-mode .main__price.price--hidden-grey {
  display: block;
  color: #494c5f;
}

.main__container.active-mode .main__price.price--white {
  display: none;
}

.main__container.active-mode .main__price.price--grey {
  display: none;
}

.btn__toggle.active::before {
  left: 0.3em;
}

.main__container {
  display: block;
  text-align: center;
  margin-bottom: 3.125em;
  padding: 1.25em;
  border-radius: 1em;
  width: 100%;
}

.main__container.container--light {
  background-color: #fff;
}

.main__container.container--blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
}

.main__container .main__title {
  padding: 1.25em 0;
}

.main__container .main__title.title--grey {
  color: #6d708d;
}

.main__container .main__title.title--white {
  color: #f6f6fe;
}

.main__container .main__price {
  margin: 0;
  padding-bottom: 0.75em;
  font-size: 2.25rem;
}

.main__container .main__price .dollar {
  vertical-align: 0.2em;
  font-size: 1.4rem;
}

.main__container .main__price.price--white {
  color: #f6f6fe;
}

.main__container .main__price.price--grey {
  color: #494c5f;
}

.main__container .main__price.price--hidden-white, .main__container .main__price.price--hidden-grey {
  display: none;
}

.main__container .main__list {
  margin: 0;
  width: 100%;
}

.main__container .main__list .main__item {
  padding: 1.25em 0;
  border-top: 1px solid #b3b5c6;
}

.main__container .main__list .main__item:last-child {
  border-bottom: 1px solid #b3b5c6;
}

.main__container .main__list .main__item.item--grey {
  color: #6d708d;
}

.main__container .main__list .main__item.item--white {
  color: #f6f6fe;
}

.main__container .cta {
  display: inline-block;
  border: none;
  outline: none;
  text-transform: uppercase;
  width: 100%;
  height: 3em;
  border-radius: 0.8em;
  padding: 0.75em;
  font-weight: 700;
  margin: 1.25em 0;
  letter-spacing: 0.1em;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.main__container .cta.cta--blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  color: white;
}

.main__container .cta.cta--blue:hover {
  border: 1px solid #6d708d;
  background-image: none;
  background-color: #fff;
  color: #787ee2;
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.main__container .cta.cta--white {
  background-color: #fff;
  color: #787ee2;
}

.main__container .cta.cta--white:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #f6f6fe;
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.attribution {
  text-align: center;
  font-weight: 400;
  font-size: 0.6rem;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 1.25em 7.5em;
  }
  .wrapper::before {
    content: url("../images/bg-bottom.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translate();
            transform: translate();
    z-index: -1;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main__container:nth-child(1) {
    border-radius: 1em 0 0 1em;
    -webkit-box-shadow: 0 5px 8px 5px rgba(187, 186, 186, 0.5);
            box-shadow: 0 5px 8px 5px rgba(187, 186, 186, 0.5);
  }
  .main .main__container:nth-child(2) {
    padding: 2.75em 1.25em;
  }
  .main .main__container:nth-child(3) {
    border-radius: 0 1em 1em 0;
    -webkit-box-shadow: 0 5px 8px 5px rgba(187, 186, 186, 0.5);
            box-shadow: 0 5px 8px 5px rgba(187, 186, 186, 0.5);
  }
}
/*# sourceMappingURL=style.css.map */